*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    animation: shakebody linear 6s infinite;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(Summer_Beach_Background.jpg);
    background-repeat: no-repeat;
    position: absolute;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(a-green-tree-with-a-white-background-with-a-green-plant-in-the-middle-a-bush-with-flowers-on-it-image-green-grass-isolated-png.webp);
    background-size: cover; 
    position: absolute;
    top: 30px; 
}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x; 
    position: absolute;
    top: 70vh;
    animation: carMove linear 13s infinite;

}

.car{
    height: 100px;
    width: 380px;
    background-image: url(car.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    top: 290px;
    bottom:30vh;
    animation: shake linear .3s infinite;

}


.wheel1 img{
    width: 45px;
    position: relative;
    top:73px;
    left:42px;
    animation: wheelRotation linear .16s infinite;
}


.wheel2 img{
    width: 45px;
    position: relative;
    top: 27px;
    left: 278px;
    animation: wheelRotation linear .16s infinite;

}

@keyframes wheelRotation
{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove
{
    100%{
        transform: translateX(-500vw);
    }
}

@keyframes shake
{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes shakebody
{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(-50px);
    }
}